.row17{
	vertical-align:top;
	height:auto;
	!important;
}
.list17{
	display:none;
}
.show17{
	display:none;
	
}
.hide17:target + .show17{
	display:inline;
}
.hide17:target{
	display:none;
}
.hide17:target ~ .list{
	display:inline;
}
@media print{
	.hide17, .show17{
		display:none;
	}
}